<mat-toolbar class="header-toolbar">
    <mat-toolbar-row>
        <button class="header-menu-btn" mat-icon-button (click)="toggleSideNav()">
            <mat-icon class="material-icons-round">menu</mat-icon>
        </button>

        <img class="app-logo" src="assets/svg/trimble_forestry.svg">

        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>info</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>logout</mat-icon>
        </button>

    </mat-toolbar-row>
</mat-toolbar>